<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066327526680-q90jep83lkacfbauedmb98s4pq7sfu4u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066327526680-q90jep83lkacfbauedmb98s4pq7sfu4u</string>
	<key>API_KEY</key>
	<string>AIzaSyAHQ-_st3xkPla094dNskpcnq-09tq4qmY</string>
	<key>GCM_SENDER_ID</key>
	<string>1066327526680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ha</string>
	<key>PROJECT_ID</key>
	<string>helpinghands-d5b97</string>
	<key>STORAGE_BUCKET</key>
	<string>helpinghands-d5b97.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066327526680:ios:7fd23ad569d12b9609a26d</string>
</dict>
</plist>